<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleAppWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAssignmentSoap" />
                <binding name="WebServiceERP12Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebApplication/WebServiceAssignment.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAssignmentSoap"
                contract="RefService.WebServiceAssignmentSoap" name="WebServiceAssignmentSoap" />
            <endpoint address="http://localhost/WebAppERP/WebServiceERP12.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceERP12Soap"
                contract="ShowFileRef.WebServiceERP12Soap" name="WebServiceERP12Soap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsoleAppWebService.Properties.Settings>
            <setting name="ConsoleAppWebService_ShowFileRef_WebServiceERP12"
                serializeAs="String">
                <value>http://localhost/WebAppERP/WebServiceERP12.asmx</value>
            </setting>
        </ConsoleAppWebService.Properties.Settings>
    </applicationSettings>
</configuration>