<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProgramKonstruktion.Properties.Settings.StoreIT2ConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=StoreIT2;Persist Security Info=True;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
        <add name="ProgramKonstruktion.Properties.Settings.StoreIT3ConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=StoreIT3;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
        <add name="ProgramKonstruktion.Properties.Settings.STOREITNEWConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=STOREITNEW;Persist Security Info=True;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceERP1Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebApplication1/WebServiceERP1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceERP1Soap"
                contract="ServiceReference1.WebServiceERP1Soap" name="WebServiceERP1Soap" />
        </client>
    </system.serviceModel>
</configuration>