<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProgramKonstruktion.Properties.Settings.StoreIT2ConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=StoreIT2;Persist Security Info=True;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>