<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProgramKonstruktion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProgramKonstruktion.Properties.Settings.StoreIT2ConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=StoreIT2;Persist Security Info=True;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
        <add name="ProgramKonstruktion.Properties.Settings.StoreIT3ConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=StoreIT3;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
        <add name="ProgramKonstruktion.Properties.Settings.STOREITNEWConnectionString"
            connectionString="Data Source=SYST4DEV01;Initial Catalog=STOREITNEW;Persist Security Info=True;User ID=tgang;Password=tgang1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ProgramKonstruktion.Properties.Settings>
            <setting name="ProgramKonstruktion_OpenFileService_WebServiceAssignment"
                serializeAs="String">
                <value>http://localhost/WebApplication/WebServiceAssignment.asmx</value>
            </setting>
        </ProgramKonstruktion.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceAssignmentSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebApplication/WebServiceAssignment.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAssignmentSoap"
                contract="OpenFileService.WebServiceAssignmentSoap" name="WebServiceAssignmentSoap" />
        </client>
    </system.serviceModel>
</configuration>